/**
 * @Author: Raj Choudhary <raj1603chdry>
 * @Date:   2017-08-11T13:33:01+05:30
 * @Email:  raj.choudhary1603@gmail.com
 * @Filename: button3.css
 * @Last modified by:   raj1603chdry
 * @Last modified time: 2017-08-11T18:38:09+05:30
 * @Copyright: Raj Choudhary
 */


.button {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.button::after {
  content: "";
  background: #f1f1f1;
  position: absolute;
  display: block;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.button:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
