body {
    font-family: Arial, Verdana, sans-serif;
    width: 750px;
    color: #665544;
}
blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-family: Georgia, Times, serif;
    font-style: italic;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}
