body {
    font-family: Arial, Verdana, sans-serif;
    width: 750px;
    color: #665544;
}
h1 {
    background-color: #efefef;
    padding: 10px;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
p.example {
    margin-top: 100px;
}
