body {
    font-family: Arial, Verdana, sans-serif;
    width: 750px;
    color: #665544;
}
h1 {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 500px;
    /*margin: 0px;*/
}
p {
    width: 450px;
}
