body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    width: 750px;
}
h1 {
    background-color: #efefef;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    z-index: 10;
}
p {
    position: relative;
    top: 70px;
    left: 70px;
}
